<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="List Restaurant for you">
  <meta name="theme-color" content="#DB0000"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <link rel="icon" href="./favicon.png">
  <link rel="manifest" href="app.webmanifest.json">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Weststreet</title>
</head>
<body>
    <a href="#content" class="skip-to-content">Skip to content</a>

    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1><i class="fa-solid fa-seedling"></i>&nbsp; Weststreet</h1>
      </div>

      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a href="#/home">Home</a></li>
          <li><a href="#/favorites">Favorites</a></li>
          <li><a href="https://github.com/hestiyuanamahardika" target="_blank">About Us</a></li>
        </ul>
      </nav>
    </header>

    <div class="hero" media="(min-width: 600px)">
      <!-- <picture>
        <source media="(max-width: 600px)" srcset="../public/images/heros/image-small.jpg">
        <img src="../public/images/heros/image-large.jpg" alt="hero-image">
      </picture> -->
      <center>
        <span>Welcome to Weststreet</span>
        <article>
          <p>Weststreet is a website that provides the best restaurants with delicious food, friendly atmosphere, and professional staff</p><br><br><br>
          <a href="#dishes">Search Now</a>
        </article>
      </center>
    </div>

    <main tabindex="0" id="mainContent"></main>
    <div class="footer-copyright">
      <center>
        <h5>Weststreet</h5>
        <a>Weststreet is a list of restaurants on the west road throughout Indonesian with many menu choices.</p>
  
        <ul class="social-networks">
          <a href="https://web.facebook.com/hesti.yuana.94/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="https://github.com/hestiyuanamahardika"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href="https://instagram.com/hestiyuanam"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="https://www.youtube.com/channel/UCN6dc_-5lgKrw-niuBE0xTA"><i class="fa fa-youtube" aria-hidden="true"></i></a>
        </ul>
      </center>
    </div>
  
    <div class="copyright">
      <p>Copyright &copy; 2022 Weststreet Dicoding Academy</p>
    </div>
    
  </body>
</html>